@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*          general styles           */
body {
    text-align: center;
    margin-top: 100px;
    background-color: hsl(29, 100%, 97%);
}

h3, h4, p {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'helvetica neue', sans-serif;
}

.quiz {
    box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
}

@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    .quiz {
        width: 768px;
        margin: auto;
    }
}

/*          End of general styles    */


/*              Header               */
.nav {
    height: 40px;
    width: 100%;
    background-color: #003366;
    padding-bottom: 20px;
}

div.nav h3.title {
    float: left;
    margin-left: 10px;
}

div.nav h3.score {
    float: right;
    line-height: 25px;
    margin-right: 10px;
}

div.nav h3.title, div.nav h3.score {
    color: white;
    padding: 0px 10px 10px 10px;
}

/*      End of Header               */


/*       Start screen               */

.start-content h4 {
    margin-top: 50px;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 0px;
    color: black;
}

.button-choose {
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    box-shadow: 0 0.3125rem 1rem 0 rgba(0, 0, 0, 0.100);
}

.button-choose#A {
    margin-right: 20px;
}

.button-choose#B {
    margin-left: 20px;  
}

@media only screen and (max-width: 395px) {
    .button-choose#A, .button-choose#B {
        margin: auto;
    }
}
/*       end of Start screen           */


/*      Main content, contents general */
.main-content {
    display: inline;
}

.content {
    background-color: hsl(212, 52%, 99%);
    padding-top: 10px;
    height: 300px;
}
 
.question-section h4 {
    margin-top: 30px;
    font-size: 25px;
    color: black;
} 

@media only screen and (max-width: 480px) {
    .question-section h4 {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 20px;
        text-align: center;    
    }
}

@media only screen 
    and (max-width: 768px)
    and (min-width: 480px) {
    
        .question-section h4 {
            margin-left: 20px;
            margin-right: 20px;
            text-align: center;
        }
}

/*      end of main content, general */


/*        answer-section styling     */

.answer-section {
    margin-top: 50px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px 40px 40px 40px;
}

.answer-section > div {
    flex: 5 5 50%;
    box-sizing: border-box;
    align-items: center;
}


.answer {
    height: 75px;
    width: 50px;
    color: black;
    background-color: white; /* #004080 */
    border-radius: 5px;
    border: solid 2px hsl(0, 0%, 70%);
    box-shadow: 0 1.5px 1.5px grey;
    align-items: center;
}

.answer, .answer h4 {
    cursor: pointer;
}
.answer h4 {
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .answer {
        height: 60px;
    }
    .answer h4 {
        margin-top: 20px;
    }
}

@media only screen 
    and (max-width: 768px)
    and (min-width: 480px) {
    
}


.answer:hover, .button-choose:hover {
    animation-name: pop;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    
}

@keyframes pop {
    100% {
        background-color: hsl(0, 0%, 95%);
        transform-box: 10%;
    }
}

/*              End Screen              */

.end h4 {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 800;
}

.end p {
    font-size: 20px;
}
